.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fd5f32,#f53f2d);

}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon--link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover{
    color: rgba(225, 225, 225, 0.8);
    cursor: pointer;
}

.header__navbar-item--QR:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9096;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon--link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* Header QE Code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    
}

.header__qr-download {
    height: 16px;
}


/* Header Notification */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: right top;
    will-change: opacity, transform;
    animation: headerNotifyGorwn ease-in .2s;
    z-index: 1;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -30px;

}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 20px;
    right: 0;
    top: -16px;

}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;

}

.header__notify-list {
    padding-left: 0%;

}

.header__notify-item {
    display: flex;
    padding: 12px;

}

.header__notify-item:hover {
    background-color: #f7f7f7;
}


.header__notify-item--seen {
    background-color: rgba(238, 75, 43, .09);
}

.header__notify-link {
    display: flex;
    text-decoration: none;
   
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.notify-infor {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
}

.header__notify-footer {
   display: flex;
}

.header__notify-footer-btn {
    color: var(--black-color);
    text-decoration: none;
    padding: 8px 32px;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;


}

/* Header with search */

.header-with-search {
    display: flex;
    align-items: center;
    height: var(--header-with-search-height);
    margin: 0 8px;
}

.header-logo {
     width: 200px;
}

.header-logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
     width: 150px;
     text-align: center;
     
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
}

.header__cart-notice {
    position: absolute;
    top: -7px;
    right: -7px;
    border: 2px solid #ee4d2d;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-icon {
    font-size: 2.5rem;
    color: var(--white-color);
    
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 7px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3px #ccc;
    display: none;
    transform-origin: right top;
    will-change: opacity, transform;
    animation: headerNotifyGorwn ease-in .2s;
    cursor: default;
}

.header__cart-list::after {
    content: "";
    display: block;
    position: absolute;
    top: -28px;
    right: 8px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-mess {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list--no-cart-img {
    width: 60%;
    padding: 10px 0;
    display: none;
}

.header__cart-list--no-cart-mess {
    display: none;
    font-size: 1.4rem;
    margin: 14px;
    color: var(--text-color);
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 0 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__cart-list-items {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
}

.header__cart-item:hover {
    background-color: #f7f7f7;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}

.header__cart-item-infor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 420;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 12px;
}

.header__cart-add-infor {
    font-size: 1.2rem;
    font-weight: 400;
    cursor: text;
}

.header__cart-view:hover {
    opacity: .95;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input { 
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 0 16px;

}

.header__search-select { 
    border-left: 1px solid #ccc;
    padding-left: 16px;
    cursor: pointer;
    position: relative;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--black-color);

}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 10px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;

}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 120%;
    width: 120px;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px #ccc;
    display: none;

}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    padding-left: 16px;
}

.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    width: 100%;
    height: 15px;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option-item:hover {
    background-color: #fafafa;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--black-color);
    cursor: pointer;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px ;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px ;
}

.header__search-option-item i {
    font-size: 1.4rem;
    margin-left: 10px;
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search History */

.header__search-history {
    position: absolute;
    top: 110%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 3px #ccc;
    border-radius: 2px;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 400;

}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
  }

.header__search-history-item {
    height: 32px;
    padding: 0 12px;
    
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    line-height: 32px;
    display: block;
}

/* Auth Contain */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden ;
}


.auth-form__contain {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--black-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;

}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;

}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn--primary {
    margin-left: 8px;
}

.auth-form__socials {
    margin-top: 22px;
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}

.socials-icon {
    font-size: 1.8rem;
    margin-right: 32px;
}

.auth-form__facebook
.socials-icon {
    color: var(--white-color);
}
.btn.auth-form__facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}

/* Login form */
.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.auth-form__help-space { 
    display: block;
    border-left: 1px solid var(--border-color);
    margin: 0 8px;
}

.auth-form__need-help {
    color: #939393;
}

