/* Mobile & Tablet */
@media (max-width: 1023px) {
  :root {
    --header-height: 68px;
    --navbar-height: 0px;
  }
  .hide-on-mobile-tablet {
    display: none;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  .header-with-search {
    margin: 0 8px;
  }
  .header__sort-bar {
    position: fixed;
  }
  .app__container {
    margin-top: calc(var(--header-sort-bar-height) + var(--header-height));
  }
  .header__sort-bar {
    display: flex;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
  }
  .header__cart {
    width: 80px;
    text-align: right;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .header {
    z-index: 2;
  }
  .header-with-search {
    justify-content: space-between;
  }
  .header__cart,
  .header-logo {
    width: unset;
  }

  .app__content {
    margin: 0 5px;
  }

  .header__mobile-search {
    display: block;
  }

  .header__search {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 48px;
    border-bottom: 1px solid #e5e5e5;
    z-index: 1;
    animation: mobileSearchSlide ease 0.3s;
    display: none;
  }

  .pagination-item {
    margin: 0;
  }

  .pagination-item--link {
    height: 28px;
    font-size: 1.6rem;
    min-width: 25px;
  }

  @keyframes mobileSearchSlide {
    from {
      opacity: 0;
      top: calc(var(--header-height) / 2);
    }
    to {
      opacity: 1;
      top: var(--header-height);
    }
  }
}
